@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap')

body
  font-family: 'Ubuntu', sans-serif
  color: #2f2e2e
  line-height: 1.2 !important

main
  word-break: break-word

a
  text-decoration: none

h1, h2, h3, h4, h5, h6
  line-height: 1.2 !important

h2
  font-size: 23px !important

h3
  font-size: 20px !important

h4, h5, h6
  font-size: 18px

p
  margin-bottom: 0 !important
  line-height: 1.2 !important

.card-title
  font-size: 16px

.sub_title, h3
  font-size: 18px !important
  line-height: 1.2 !important

.text-subtitle1
  line-height: 1.2 !important

.q-tab__label
  font-weight: 700

.letter-1
  letter-spacing: 1px

.page-title
  font-size: 24px
  font-weight: 600

li
  margin-left: 17px

@media screen and (max-width: 650px)
  .card-title
    font-size: 14px

  .sub_title, h3
    font-size: 16px !important

