.q-item
  padding: 0 !important

.q-carousel__slide, .q-carousel .q-carousel--padding
  padding: 0 !important

.q-img__content > div
  background: inherit !important

.q-tab-panel
  padding: 0 !important

.q-header--bordered
  border-bottom: 1px solid #eff3f6

.q-card--bordered, .q-table--bordered
  border: 1px solid #eff3f6 !important

.grey-color
  color: #ebebeb !important

.grey-border
  border: 1px solid #ebebeb !important

.no-top-border
  border-top: none !important

.q-list--separator > .q-item-type + .q-item-type, .q-list--separator > .q-virtual-scroll__content > .q-item-type + .q-item-type
  border-top: 1px solid #eff3f6 !important
