<template>
<div :class="colorClass">
  <p :class="'section-title text-uppercase text-bold letter-1 ' + colorClass">
    {{ title }}
  </p>
</div>
</template>

<script>
export default {
  name: "section-title",
  props: {
    title: {
      type: String,
      default: ''
    },
    colorClass: {
      type: String,
      default: 'text-dark'
    }
  }
}
</script>

<style lang="sass">
.section-title
  font-size: 24px
  color: $dark

@media screen and (max-width: 650px)
  .section-title
    font-size: 18px
</style>
